@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent
}

*:focus-visible {
  outline: 2px solid #2a9d8f;
  outline-offset: 4px
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.App {
  width: 60vw;
  max-width: 31.25rem;
  border-radius: 30px;
  padding: 1.875rem;
  background-color: #fff;
  position: relative;

  .result {
    text-align: center;

    button {
      font-weight: bold;
      font-family: 'Nunito', sans-serif;
      border-radius: 30px;
      border: 0;
      padding: .9375rem 1.875rem;
      font-size: 1.25rem;
      background-color: color.adjust(#ff006e, $lightness: 3%);
      color: #fff;
      margin-top: 1.25rem;
      cursor: pointer;
    }

    h2 {
      margin-bottom: 0;
    }

    img {
      width: 150px;
    }
  }

  .progress {
    height: .625rem;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 1.5625rem;

    &__inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;
      background: rgb(18, 231, 48);
      transition: all 0.3s ease-in-out;
      background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    height: 3.125rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -2;
  }

  h1 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: .9375rem;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: .625rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}
